.calendar {
  text-align: center;
}

.yearmonth {
  display: flex;
  justify-content: space-evenly;
}

.toNext,
.toPast {
  background-color: transparent;
  font-size: 1.2em;
}

.day span {
  width: 2em;
}

.day,
.week {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.8em;
}

.date {
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  cursor: pointer;
}

.selected {
  background-color: var(--blue);
  border-radius: 50%;
}

.hasDiary {
  border: 1.5px solid var(--blue);
  border-radius: 50%;
}
