.diary {
  margin-left: 2rem;
  flex: 1 1 auto;
}

.title {
  border-bottom: 1px solid var(--blue);
}

.noContent {
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.goToWrite {
  background-color: transparent;
  border: 2px solid var(--blue);
  padding: 0.5em 0.8em;
  border-radius: 0.5em;
  margin-top: 1em;
}

.goToWrite:hover {
  background-color: var(--blue);
  color: white;
}


.loading{
  margin-top: 4em;
}
.spinner{
  margin-top: 5rem;
  font-size: 2em;
  width: 1.5em;
  height: 1.5em;
  margin: auto;
  border-radius: 50%;
  border: 3px solid whitesmoke;
  border-top: 3px solid var(--blue);
  animation: spin 2s linear infinite;
}

@keyframes spin{
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}