@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@import url('https://use.fontawesome.com/releases/v5.15.4/css/all.css');

:root{
  --blue: #c3cfdb;
  --border-rad: 0.5em;
  --shadow: 4px 4px 7px 0px #ACACAC;
}

body {
  margin: 0;
  font-family: 'Nanum Myeongjo', serif;
}

button{
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'Nanum Myeongjo', serif;
}
